:root {
    --background: #00203FFF;
    --bubble: #9CC3D5FF;
    --bubble-text: #021C1E;

    --submit-button: rgba(0, 255, 0, 0.897);
    --submit-button-darken: rgba(0, 255, 0, 0.801);
    --submit-button-text: white;

    --text-input: #F5F5F5;
    --text-input-background: #063852;

    --app-border-radius: .7rem;
}

*,
:before,
:after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    outline: none;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;

    justify-content: center;
}

.messenger {
    height: 100%;
    width: 90rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
}

.messenger__top {
    flex-basis: 78%;

    background-color: var(--background);

    border-radius: var(--app-border-radius);

    overflow-y: auto;

    padding: 1rem;
}

.messenger__text {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding: 2rem;

    margin-bottom: 2rem;

    background-color: var(--bubble);
    color: var(--bubble-text);

    display: inline-block;

    border-radius: var(--app-border-radius);

    max-width: 60%;

    overflow-wrap: break-word;
}

.messenger__bottom {
    flex-basis: 20%;

    background-color: var(--background);

    border-radius: var(--app-border-radius);

    padding: 1rem;
}

.text-form {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.text-form__input {            
    flex-basis: calc(80% - 1rem);

    padding: 1rem 1.5rem;

    resize: none;

    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border: none;
    border-radius: var(--app-border-radius);

    background-color: var(--text-input-background);
    color: var(--text-input);
}

.text-form__submit-btn {
    background-color: var(--submit-button);
    color: var(--submit-button-text);

    flex-basis: 20%;

    border: none;
    border-radius: var(--app-border-radius);

    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;

    transition: background .2s linear;
}

.text-form__submit-btn:hover {
    background-color: var(--submit-button-darken);
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mb-10 {
    margin-bottom: 1rem;
}

.no-wrap {
    white-space: nowrap;
}

.status {
    position: fixed;

    width: 20rem;
    padding: 1rem;

    border-radius: var(--app-border-radius);

    top: 1rem;
    left: 1rem;

    background: var(--background);

    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--bubble);        
}

.status__icon {
    border-radius: 50%;
    
    width: 1rem;
    height: 1rem;

    display: inline-block;

    vertical-align: middle;
}

.status__icon--red {
    background-color: rgba(255, 0, 0, 0.603);
}

.status__icon--green {
    background-color: rgba(0, 255, 0, 0.897);
}

.status__row {
    display: flex;
    
    justify-content: space-between;
}

.status__username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status__divider {
    border-top: 1px solid var(--bubble);

    margin: 1rem 0;
}

@media screen and (max-width: 1325px) {
    .status {
        position: static;

        width: 100%;

        margin-bottom: 1rem;
    }

    .messenger__top {
        margin-bottom: 1rem;
    }
} 